<!--Carousel Wrapper-->


<div class="container">
<div class="row">
    
    <div class="col-md-3">
        
        <div class="card1 ">
          <img src="https://express-images.franklymedia.com/5829/sites/43/2020/07/29173323/things-to-know-.png" class="card-img-top" alt="...">
        </div>
      </div>


       <div class="col-md-9">
        <!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top" style="float: right;">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a> &nbsp;&nbsp;
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
   
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active">
  
        <div class="col-md-4" style="float:left">
         <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">10 JULY 2020</h6>
              <h5>Some quick example text to build on the card title </h5>
              <p class="card-text">Some quick example text to build on the card title .</p>
              <a class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">10 JULY 2020</h6>
              <h5>Some quick example text to build on the card title .</h5>
              <p class="card-text">Some quick example text to build on the card title.</p>
              <a class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4" style="float:left">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">10 JULY 2020</h6>
              <h5>Some quick example text to build on the card title .</h5>
              <p class="card-text">Some quick example text to build on the card title .</p>
              <a class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        
         
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
  
        <div class="col-md-4" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(40).jpg" alt="Card image cap">
              <div class="card-body">
                <h6 class="card-title">10 JULY 2020</h6>
                <h5>Some quick example text to build on the card title .</h5>
                <p class="card-text">Some quick example text to build on the card title .</p>
                <a class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(40).jpg" alt="Card image cap">
              <div class="card-body">
                <h6 class="card-title">10 JULY 2020</h6>
                <h5>Some quick example text to build on the card title .</h5>
                <p class="card-text">Some quick example text to build on the card title .</p>
                <a class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-md-4" style="float:left">
            <div class="card mb-2">
              <img class="card-img-top"
                src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(40).jpg" alt="Card image cap">
              <div class="card-body">
                <h6 class="card-title">10 JULY 2020</h6>
                <h5>Some quick example text to build on the card title .</h5>
                <p class="card-text">Some quick example text to build on the card title .</p>
                <a class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
  
        
  
      </div>
      <!--/.Second slide-->
  
     
  
    </div>
    <!--/.Slides-->
  
  </div>
  <!--/.Carousel Wrapper-->
       </div>
          <!--/.Carousel Wrapper-->
    
    
        </div>
    
</div>