<a name="top"></a>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Company Logo</a>
    <button class="navbar-toggler" type="button"  (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent"  [ngClass]="{'show':navbarOpen}">
      <ul class="navbar-nav mr-auto"> 
        <li class="nav-item active">
          <a class="nav-link" href="#">Plans </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Calculators</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Customer service</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Where do I?</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Contact us</a>
          </li>

          <li class="nav-item1">
            <a class="nav-link" href="#">About</a>
          </li><li class="nav-item1">
            <a class="nav-link" href="#">Career</a>
          </li><li class="nav-item1 ">
            <a class="nav-link" href="#">Knowledge center</a>
          </li>
         
        
      </ul>
      
    </div>
  </nav>


  <app-plans></app-plans>

  <app-contact></app-contact>
  
  <app-solutions></app-solutions>

  <app-careers></app-careers>

  
  <app-about></app-about>
  <br><br>
  <app-customer></app-customer>


  

  <footer class="container py-5">
    <div class="row">

      <div class="col-12 col-md">
 
        <small class="d-block mb-3 text-muted">&copy; 2020-2021</small>
        <a href="#top">Scroll to top</a>
      </div>
    
      <div class="col-6 col-md">
        
        <ul class="list-unstyled text-small">
          <li><h5>Plans</h5></li>
          <li><h5>About Us </h5></li>
          <li><h5>Testimonials</h5></li>
         
        </ul>
      </div>
      <div class="col-6 col-md">
        <ul class="list-unstyled text-small">
          <li><h5>Download Centre</h5></li>
          <li><h5>Company Links </h5></li>
          
         
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Disclaimers & Policies</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Terms of use</a></li>
          <li><a class="text-muted" href="#">Privacy Policy</a></li>
          <li><a class="text-muted" href="#">Remuneration Policy</a></li>
          <li><a class="text-muted" href="#">Policy against sexual harassment at work</a></li>
          <li><a class="text-muted" href="#">CSR Policy</a></li>
          <li><a class="text-muted" href="#">Whistle Blower Policy</a></li>
          <li><a class="text-muted" href="#">Group Pension Fund</a></li>
          <li><a class="text-muted" href="#">Anti Fraud Policy</a></li>
          <li><a class="text-muted" href="#">IRDA Notification</a></li>
          <li><a class="text-muted" href="#">Public Disclosures</a></li>
          <li><a class="text-muted" href="#">Disclaimers</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Others</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">ISO Documentation</a></li>
          <li><a class="text-muted" href="#">Code of Conduct</a></li>
          <li><a class="text-muted" href="#">Code of Conduct for vendors(TBC)</a></li>
          <li><a class="text-muted" href="#">Life Insurance Council</a></li>
          <li><a class="text-muted" href="#">(www.sabsepehelelifeinsurance.com)</a></li>
          <li><a class="text-muted" href="#">Insurance Ombudsman</a></li>
          <li><a class="text-muted" href="#">Consumer Education</a></li>
          <li><a class="text-muted" href="#">Benefit Illustration</a></li>
          <li><a class="text-muted" href="#">Withdrawn Products</a></li>
          <li><a class="text-muted" href="#">Greviance Redressal</a></li>
        </ul>
        <h5>Sitemap</h5>
      </div>
      
    </div>

    <div>
      <i class="fa fa-facebook-f" style="font-size:36px"></i>&nbsp;&nbsp;
      <i class="fa fa-twitter" style="font-size:36px"></i>&nbsp;&nbsp;
      <i class="fa fa-linkedin-square" style="font-size:36px"></i>&nbsp;&nbsp;
      <i class="fa fa-instagram" style="font-size:36px"></i>


    </div>
  </footer>