<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-4">
        <div class="row">
            <div class="col-sm-6">
              <div class="card shadow">
                <div class="card-body">
                    <i class="fa fa-male" style="font-size:70px"></i>
                  <p class="card-text"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.</span></p><br>
                  <h5 class="card-title">Shambhavi Kulkarni</h5>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card shadow">
                <div class="card-body">
                    <i class="fa fa-male" style="font-size:70px"></i>
                  <p class="card-text"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s .</span></p><br>
                  <h5 class="card-title">Anuragh Gupta</h5>
                </div>
              </div>
            </div>
          </div>
        <div class="col-sm-6">
          <div class="card h-80">
            <img src="https://thumbs.dreamstime.com/b/happy-customers-icon-client-satisfaction-concept-symbol-design-vector-illustration-134302102.jpg" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
    
</div>
<br><hr>

<div class="container1">

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card h-80">
                <img src="https://marketplace.magento.com/media/catalog/product/c/8/c85b_box.testimonials.block_1_1_1_1.png" class="card-img-top" alt="...">
              </div>
          </div>
    </div>

    <div class="col-3">
        
        <div class="card1">
            <i class="fa fa-trophy" style="font-size:50px ;text-align:initial; padding-left:10%"></i>
            <div class="card-body">
              <h2 class="card-title">2017</h2>
              <h4 class="card-subtitle mb-2 text-muted">Best employer award</h4>
              <p class="card-text">We,ve been awarded the prestigious AON Best Employer's Award for four years in a row!.</p>
             
            </div>
          </div>
    </div>

    <div class="col-3">
        <div class="card1">
            <i class="fa fa-trophy" style="font-size:50px ;text-align:initial; padding-left:10%"></i>
            <div class="card-body">
              <h2 class="card-title">2018</h2>
              <h4 class="card-subtitle mb-2 text-muted">Best employer award</h4>
              <p class="card-text">We,ve been awarded the prestigious AON Best Employer's Award for four years in a row!.</p>
             
            </div>
          </div>
    </div>

    <div class="col-3">
        <div class="card1">
            <i class="fa fa-trophy" style="font-size:50px ;text-align:initial; padding-left:10%"></i>

            <div class="card-body">
                
              <h2 class="card-title">2019</h2>
              <h4 class="card-subtitle mb-2 text-muted">Best employer award</h4>
              <p class="card-text">We,ve been awarded the prestigious AON Best Employer's Award for four years in a row!.</p>
             
            </div>
          </div>
    </div>
</div>
    
</div>



